<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    {{>nav}}



<div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit in est? Animi sed eos voluptates nulla numquam eveniet! Impedit eligendi provident nobis beatae non officia dolor nihil sint perferendis?</p>
</div>
    
</body>
</html>