{{!-- En esta sección cargamosicono de FontAwesome --}}
<footer>
<div class=" footer-social">
    <h4>Buscanos</h4>
    <div class="footer-icons">
         <a href="https://www.facebook.com/" target="blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="blank"><i class="fa-brands fa-instagram"></i></a>

    </div>
</div>

<div class="footer-legal">
  <li>El Mundo de Harry Pooter. Todos los derechos reservados</li>
    <li>Proyecto final</li>


</div>

</footer>