<nav class="nav">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/personajes">Personajes</a></li>
        <li><a href="/upload">Carga de archivos</a></li>
        <li><a href="/personaje/crear"> Crear Personaje</a></li>
        <li><a href="/personaje"> Personaje</a></li>
    </ul>
</nav>