<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos CSS del documento -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- FontAwesome Icons (iconos parabredes sociales en el footer -->
<script src="https://kit.fontawesome.com/8b43728bb6.js" crossorigin="anonymous"></script>
    <title>Mundo de Harry Potter</title>
</head>
<body>
    {{> nav}}
    
    <h1>Personajes</h1>
  
    {{#each characters }}
   <li> {{name}} - {{house}}</li>

    {{/each}}

    {{> footer}}
</body>
</html>